# Part 1 -  Web Scraping using Beautiful Soup in Python

### Import the required libraries

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

### The data required is from a Wiki page containing a table. We will use Beautiful Soup to extract the table and insert it into a Pandas Dataframe

In [2]:
#URL given 
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup(source, 'lxml')

body = soup.find('body')
table = body.find('table', class_ = "wikitable sortable")
table_rows = table.find_all('tr')

data = [] #Stores the Data
column_name = ['Postcode', 'Boroughs', 'Neighborhoods'] #Name of the Columns for the Dataframe

for tr in table_rows:
    td = tr.find_all('td')
    row_data = [tr.text for tr in td]
    data.append(row_data)
    
df = pd.DataFrame(data, columns = column_name)
df.head()

  Postcode      Boroughs       Neighborhoods
0     None          None                None
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

### We now clean up the data according to the following rules:

* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

* More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [3]:
#Drop the first row
df.drop(0, axis = 0, inplace = True) 

#Drop rows were borough is not assigned
df.drop(df[df['Boroughs'] == 'Not assigned'].index, axis = 0, inplace = True) 

#Replace the additional \n in the Neighborhoods column
df['Neighborhoods'] = df['Neighborhoods'].str.replace('\n','')

#Group neighborhoods with the same postal code
df = df.groupby(['Postcode','Boroughs'])['Neighborhoods'].apply(lambda x: "%s" % ', '.join(x)).to_frame().reset_index()

#For 'Not assigned' neighborhoods, the neighborhood will be the same as the borrow
df.loc[(df.Neighborhoods == 'Not assigned'), 'Neighborhoods'] = df['Boroughs']

df.head(5)

  Postcode     Boroughs                           Neighborhoods
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
df.shape

(103, 3)

# Part 2 - Obtain Latitude and Longitude of Neighbourhoods

### Import the required libraries

In [5]:
import geocoder

### Using Geocoder to obtain the geographical coordinates:

In [6]:
def get_coord(row):
    lat_lng_coords = None
    postal_code = row.Postcode
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, ON'.format(postal_code), key = 'A cool key')
        lat_lng_coords = g.latlng
    return pd.Series(lat_lng_coords)

In [7]:
#df[['Latitude', 'Longitude']] = df.apply(get_coord, axis = 1)
#df.head()

lat_lng_coords = None
g = geocoder.google('Atlanta, GA')
lat_lng_coords = g.json
print(lat_lng_coords)

None

### Since the GeoCoder always returned an error in Google API, I will use the .csv provided to populate coordinate values

In [8]:
df[['Latitude', 'Longitude']] = pd.read_csv('Geospatial_Coordinates.csv', usecols = [1,2])
df.head()

,Postcode,Boroughs,Neighborhoods,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476